# Python
*.py[cod]
*.sublime-project
*.sublime-workspace
*.swp
*.h5
*.p
*.ipynb_checkpoints

run

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Other stuff
*.ps
.idea
*#