$ cat .gitattributes
*.3 linguist-documentation
*.2 linguist-documentation 
*.1 linguist-documentation 
*.AH1 linguist-documentation 
*.LIS linguist-documentation 
*.gdf linguist-documentation 
*.vtp linguist-documentation 
*.out linguist-documentation 
*.cal linguist-documentation 
*.tec linguist-documentation 
*.dat linguist-documentation 
*.lay linguist-documentation 
*.frc linguist-documentation 
*.hst linguist-documentation 
*.md linguist-documentation 
*.pot linguist-documentation 
*.wam linguist-documentation 
*.2fk linguist-documentation 
*.3fk linguist-documentation 
*.3sc linguist-documentation 
*.2sc linguist-documentation 
*.cfg linguist-documentation 
*.3dm linguist-documentation 
*.textClipping linguist-documentation 
*.p2f linguist-documentation 
*.db linguist-documentation 
*.sh linguist-documentation 

