# Python
*.py[cod]
*.sublime-project
*.sublime-workspace
*.swp
*.h5
*.p
*.ipynb_checkpoints

run

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Other stuff
*.ps
.idea
*#

view_html.sh
*.sublime-workspace
*.sublime-project
*vis-temp*

*~
*.acn
*.acr
*.alg
*.asv
*.autosave
*.aux
*.bak
*.bat
*.bbl
*.blg
*.c
*.DS_Store
*.dvi
*.exp
*.glg
*.glo
*.gls
*.h
*.idx
*.ilg
*.ind
*.ist
*.lib
*.lof
*.log
*.lot
*.maf
*.mak
*.map
*.mex
*.mex64
*.mex*
*.mol
*.mtc
*.mtc0
*.mtc1
*.mtc3
*.o
*.obj
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.zip

*.1
*.3
*.mmx
wamitlog.txt
wec3.hst

.DS_Store

*/output/
*/output_previous/
*/slprj/
