# Python
*.py[cod]
*.swp
*.h5
*.p
*.ipynb_checkpoints
*.sublime-workspace*
*.sublime-project*


run
*.vis-temp.*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Other stuff
*.ps
.idea
*#